.body{
    background-color: violet;
}

.duda{
    display: table;
        background-color: rgb(240, 183, 183);
        font-family: fantasy;
        font-size: 44px;
        margin: 0 auto;
        border-right: 2px;
        text-align: center;
        white-space:nowrap;
        overflow: hidden;
        transform: translateY(-50%);}


.animacion-texto{
            animation: texto 5s;}

@keyframes texto {

    from
    {width: 0%;}

    to {

        width: 24em; }
    }
.contacto{
    font-style: italic;
}
.beauty{
    font-style: italic;
}
.numero{
    font-style: italic;
}